---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Loader from '../components/Loader.astro';
import '../styles/tailwind.css';
import { getTranslations, getLangFromUrl } from '../locales';
const currentLang = getLangFromUrl(Astro.url);
const translations = await getTranslations(currentLang);

const { title } = Astro.props;
---

<html lang={currentLang}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />
        <meta name="description" content={translations.description} />
        <meta property="og:title" content={translations.title} />
        <meta property="og:description" content={translations.description} />
        <meta property="og:image" content="/avatar.png" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:locale" content={currentLang} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={translations.title} />
        <meta name="twitter:description" content={translations.description} />
        <meta name="twitter:image" content="/avatar.png" />
    </head>
    <body class="bg-black text-gray-300">
        <div id="loader" class="loader">
            <Loader />
        </div>
        <Header translations={translations} currentLang={currentLang} />
        <main>
            <slot />
        </main>
        <Footer translations={translations} currentLang={currentLang} />
        <script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.umd.js" is:inline></script>
        <script src="/scripts/scroll-animate.js" is:inline></script>
    </body>
</html>
<style>
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        z-index: 9999;
    }
</style>
<script>
    window.onload = () => {
        const loader = document.getElementById('loader');
        if (loader) {
            loader.style.display = 'none';
        }
    };
</script>
